services:
  oficina-db:
    image: postgres:15-alpine
    container_name: oficina-db
    environment:
      POSTGRES_DB: oficina
      POSTGRES_USER: oficina
      POSTGRES_PASSWORD: oficina123
    ports:
     - "5432:5432"
    networks:
     - app-network
    volumes:
     - oficina-db-data:/var/lib/postgresql/data

  oficina:
    build:
      context: ./oficina
    container_name: oficina
    ports:
     - "8085:8085"
    depends_on:
     - oficina-db
    networks:
     - app-network

  auth-service:
    build:
      context: ./auth-service
    container_name: auth-service
    ports:
     - "8084:8084"
    networks:
     - app-network

  gateway-service:
    build:
      context: ./gateway-service
    container_name: gateway-service
    ports:
     - "8083:8080"
    depends_on:
     - auth-service
     - oficina
    networks:
     - app-network

  frontend:
    build:
      context: ./frontend
    container_name: frontend
    networks:
     - app-network

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
     - "80:80"
    volumes:
     - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
     - gateway-service
     - frontend
    networks:
     - app-network

networks:
  app-network:
    driver: bridge

volumes:
  oficina-db-data:
